In [7]:
#1. **Create a Tuple:**
#Create a tuple named `my_tuple` with the elements `1`, `2`, and `3`.
my_tuple=(1,2,3)
print(my_tuple)

(1, 2, 3)

In [8]:
#2. **Access Elements:**
#Access the second element of the tuple `my_tuple` and print it.
print(my_tuple[1])

2

In [9]:
#3. **Tuple Length:**
# Find the length of the tuple `my_tuple` and print it.
var=len(my_tuple)
print(var)

3

In [10]:
#4. **Tuple Concatenation:**
#Concatenate two tuples, `tuple1 = (1, 2)` and `tuple2 = (3, 4)`, and print the result.
tuple1=(1,2)
tuple2=(3,4)
print(tuple1+tuple2)

(1, 2, 3, 4)

In [11]:
#5. **Tuple Repetition:**
#Create a new tuple that repeats the elements of `my_tuple` twice and print it.

my_tuple=(1,2,3)*2
print(my_tuple)

(1, 2, 3, 1, 2, 3)

In [12]:
#6. **Check for Element:**
#Check if the number `2` is in `my_tuple` and print the result (True or False).
var=int(input("Enter number in Tuple:"))
if var in my_tuple:
    print(True)
else:
    print(False)

Enter number in Tuple: 3

True

In [20]:
#7. **Iterate Through a Tuple:**
#Iterate through `my_tuple` using a `for` loop and print each element.
a = tuple(i for i in range(1,10))
print(a)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [21]:
#8. **Tuple Slicing:**
#Slice `my_tuple` to get the first two elements and print the result.
print(my_tuple[0:2])

(1, 2)

In [24]:
#9. **Convert List to Tuple:**
#Convert the list `[1, 2, 3]` into a tuple and print it.
List=[1,2,3]
tu=tuple(List)
print(tu)

(1, 2, 3)

In [27]:
#10. **Find the Index:**
#Find the index of the element `3` in `my_tuple` and print it.
print(my_tuple)
print(my_tuple[2])

(1, 2, 3, 1, 2, 3)
3

In [29]:
#11. **Count Elements:**
#Count the number of times `2` appears in `my_tuple` and print the result.
a=my_tuple.count(2)
print(a)

2

In [31]:
#12. **Unpack a Tuple:**
#Unpack the elements of `my_tuple` into three variables `a`, `b`, and `c` and print their values.
a,b,c=(1,2,3)
print(a)
print(b)
print(c)

1
2
3

In [32]:
#13. **Nested Tuple:**
#Create a nested tuple `nested_tuple = ((1, 2), (3, 4))` and print the second element of the first tuple.
nested_tuple = ((1, 2), (3, 4))
print(nested_tuple[0][1])

2

In [37]:
#14. **Compare Tuples:**
#Compare two tuples `(1, 2)` and `(1, 2, 3)` to see if they are equal and print the result.
tup1=(1,2)
tup2=(1,2,3)
if tup1==tup2:
    print("Equal")
else:
    print("Not Equal")

Not Equal

In [3]:
#15. **Tuple to String:**
#Convert the tuple `('h', 'e', 'l', 'l', 'o')` into a string and print it.
tup=('h', 'e', 'l', 'l', 'o')
stri=" "
for stri in tup:
    print(stri,end="")

hello

In [9]:
#16. **Minimum and Maximum:**
#Find the minimum and maximum elements in the tuple `(5, 1, 8, 3)` and print them.mini=
mini=min(5,1,8,3)
maxi=max(5, 1, 8, 3)
print('Minimum number is {} and maximum number is {} '.format(mini,maxi))

Minimum number is 1 and maximum number is 8

In [19]:
#17. **Sum of Tuple Elements:**
#Calculate the sum of the elements in the tuple `(1, 2, 3, 4)` and print the result.
l1=(1, 2, 3, 4)
list2=sum(l1)
print(list2)

10

In [5]:
#19. **Immutable Property:**
#Try to change the first element of `my_tuple` to `4` and observe the result.
tup.insert(0,'5')
print(tup)

(1, 2, 3)

AttributeError: 'tuple' object has no attribute 'append'

In [3]:
#18. **Reverse a Tuple:**
#Reverse the tuple `(1, 2, 3)` and print the result.
tup=(1,2,3)
print(tup[::-1])

(3, 2, 1)

In [7]:
#20. **Tuple with Different Data Types:**
#Create a tuple `mixed_tuple` with an integer, a string, and a float, and print it.
tup1=('1',2,'Fruit',3.5)
print(tup1)

('1', 2, 'Fruit', 3.5)